################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutoInject

# Ignore environment file
.env

# NuGet packages
*.nupkg

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio temporary files, caches, and solution options
*.user
*.suo

publish-nuget.ps1
publish-nuget.sh
